* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-position: center;
	background-size: cover;
}

.animated {
	animation: fadeOutAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
	100% {
		opacity: 0;
	}
	0% {
		opacity: 1;
	}
}
.container {
	text-align: center;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}

p {
	color: rgb(0, 97, 16);
	position: relative;
	font-family: 'Otomanopee One', sans-serif;
	opacity: 0.7;
	font-size: 130px;
}

h2 {
	color: rgb(105, 47, 0);
	position: relative;
	font-family: 'Concert One', cursive;
	margin-left: 100px;
	top: 150px;
	font-size: 40px;
}

.centerText {
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(225, 254, 202, 0.5);
}

#beginButton {
	z-index: 50;
	border: hidden;
	position: relative;
	top: 220px;
	margin-top: 0;
	border-radius: 50px;
	color: rgb(31, 133, 40);
	background: none;
	letter-spacing: 5px;
	padding: 25px 50px;
	font-size: 40px;
	box-shadow: 0.5px 2px rgb(0, 0, 0, 0.3);
	font-family: 'Concert One', cursive;
	cursor: url('http://www.rw-designer.com/cursor-extern.php?id=82469'), auto;
	overflow: hidden;
}

#best-score {
	position: relative;
	z-index: 50;
	background: none;
	padding: 50px 60px;
	font-size: 40px;
	margin: 0px;
	font-family: 'Concert One', cursive;
}

.mushy {
	position: relative;
	opacity: 0.6;
	margin: 30px;
}

.best-score {
	position: relative;

	font-size: 200px;
}

#beginButton:focus {
	box-shadow: 0, 0, 20px rgba(4, 63, 9, 0.2);
	animation: shadow-pulse .3s forwards;
}

@keyframes shadow-Pulse {
	100% {
		box-shadow: 0px 0px 50px 20px rgba(4, 63, 9, 0.2);
	}
}
#beginButton::before {
	content: "";
	position: absolute;
	bottom: 0;
	height: 180%;
	border-radius: 50% 50% 0 0;
	overflow: hidden;
	left: 0;
	width: 100%;
	height: 0%;
	color: rgb(255, 189, 136);
	background: rgb(203, 203, 203);
	background: linear-gradient(
		0deg,
		rgba(203, 203, 203, 0.7951330190279237) 0%,
		rgba(255, 255, 255, 0.5570377809326856) 25%,
		rgba(255, 255, 255, 0) 45%
	);
	z-index: -1;
	transition: 0.8s;
	opacity: 0.8;
}
#beginButton:hover::before {
	height: 180%;
	overflow: hidden;
	opacity: 0.8;
	color: rgb(27, 221, 111);
	color: rgb(177, 80, 0);
}
/* #beginButton:hover {
	color: rgb(255, 189, 136);
} */
